<!-- about section -->

<section class="about_section layout_padding">
  <div class="container  ">

    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="../../assets/images/about-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Chúng tôi là BiSon Restaurant
            </h2>
          </div>
          <p>
            Nhà Hàng Bison chúng tôi xin hân hạnh phục vụ khác hàng và cảm ơn mọi người đã nhớ đến và ủng hộ chúng tôi. Nhà hàng chúng tôi chuyên
            phục vụ các loại đồ ăn như cơm, mỳ,... mang xu hướng phục vụ đồ ăn đặc trung ở miền Trung, do đầu bếp được cấp chứng nhận về ẩm thực miền
            Trung chế biến nên nhà hàng đạt 4 sao về chất lượng phục vụ, cơ sở và chất lượng món ăn. Nhà Hàng cũng được lên đài truyền hình về nhà hàng đặc 
            trưng cho ẩm thực miền Trung và đặc biệt chúng tôi rất vinh dự khi được đầu bếp Gordon Ramsay ghé thăm và cảm nhận món ăn nơi đây.
            Nếu quý khách cần góp ý hay có phàn nàn về nhà hàng thì xin vui lòng liên hệ đến mail bisonrestaurant@gmail.com hoặc qua số điện thoại 0905-814-428 
          </p>
          <a href="">
            Đọc thêm
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->