<div class="hero_area">
  <div class="bg-box">
    <img src="../../assets/images/hero-bg.jpg" alt="">
  </div>
  <!-- header section strats -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand ms-2" href="index.html">
          <img src="../../assets/images/image (4) (1).png" style="width: 280px; height: 100px" />
          <span style="text-align: center;"> BiSon Restaurant </span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="">Trang Chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/menu">Thực Đơn</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/about"
                >Nhà Hàng <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/booking">Đặt bàn</a>
            </li>
          </ul>
          <div class="user_option">
            <div class="btn-group">
              <button routerLink="/login" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"  ><i class="fa fa-user" aria-hidden="true" style="font-size: 28px; color: white !important;"></i></button>
              <div class="dropdown-menu">     
                <button class="dropdown-item" type="button">Đăng nhập</button>
                <button class="dropdown-item" type="button">Đăng xuất</button>
              </div>
            </div>
            <a class="cart_link" routerLink="/cart">
              <svg
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 456.029 456.029"
                style="enable-background: new 0 0 456.029 456.029"
                xml:space="preserve"
              >
                <g>
                  <g>
                    <path
                      d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
               c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"
                    />
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
               C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
               c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
               C457.728,97.71,450.56,86.958,439.296,84.91z"
                    />
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
               c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"
                    />
                  </g>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </svg>
            </a>
            <form class="form-inline">
              <button  class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true" style="font-size: 28px;"></i>
                <!-- <input
                [(ngModel)]="name"
                (ngModelChange)="searchAll()"
                type="text"
                placeholder="Nhập tên món ăn mà bạn muốn tìm kiếm"
                style="margin-right: 10px"
                aria-label="Search"
                class="ng-pristine ng-untouched ng-valid ng-empty"
              /> -->
              </button>
            </form>
            <a href="" class="order_online"> Đặt hàng online </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 col-lg-6 ">
                <div class="detail-box">
                  <h1>
                    BiSon Restaurant
                  </h1>
                  <p>
                    Tháng 4 năm 2022, BiSon Restaurant được thành lập và thuộc quyền quản lý của ToBiGaming, BiSon ra đời nhằm mục đích mang đến sự trải nghiệm cho thực khách về ẩm thức cũng như là nơi cho quý khách hàng có chỗ đặt chân để trải nghiệm dịch vụ và không gian thoáng đãng để cùng chill với bạn bè và gia đình.
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Đặt Hàng
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 col-lg-6 ">
                <div class="detail-box">
                  <h1>
                    BiSon Restaurant
                  </h1>
                  <p>
                    Với đội ngũ nhân viên chuyên nghiệp và sự chú trọng về không gian và cơ sở vật chất để khách hàng có những trải nghiệm tốt nhất cũng như là không gian tốt nhất để khách hàng có thể trải nghiệm. BiSon Restaurant hi vọng sẽ mang đến cho thực khách những gì tốt nhất của nhà hàng. Chỉ mới thành lập không lâu, nếu có sai sót hay những gì khách hàng chưa hài lòng, hi vọng khách hàng có thể góp ý để BiSon rút kinh nghiệm và cải thiện tốt hơn để lần trải nghiệm tới của thực khách sẽ tốt nhất.  
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Đặt Hàng
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 col-lg-6 ">
                <div class="detail-box">
                  <h1>
                    BiSon Restaurant
                  </h1>
                  <p>
                  BiSon Restaurant vừa phục vụ quý khách về ẩm thực món ăn cũng như là đồ uống được pha chế ngay tại quầy bartender với những ly cocktail ngon và đặc trưng nhất ở nhà Hàng. BiSon Restaurant sẽ luôn thay đổi và cập nhật những món ăn và đồ uống thường xuyên để khách hàng có những trải nghiệm mới nhất. BiSon Restaurant với câu sologan "Tươi ngon đến vị cuối cùng", hi vọng khi khách hàng đến và rời khỏi nhà hàng sẽ luôn là cảm giác vui tươi và hạnh phúc.
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Đặt Hàng
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>
    </div>

  </section>
  <!-- end slider section -->
</div>