<div class="page-wrapper">
  <section class="cart">
    <h1 class="cart__title">
      Giỏ hàng của tôi
    </h1>
    <div class="cart__body">
      <div class="cart__items">
        <div class="item" *ngFor="let item of cartItems; index as i">
          <div class="item__right">
            <div class="item-inner">
              <div class="item-inner__img">
                <img [src]="item.food.avatarFood" alt="" style="max-width: 270px; max-height: 170px;">
              </div>
              <div class="item-inner__details">
                <p class="item-inner__name">{{ item.food.name }}</p>
                <div class="item-inner__delete" (click)="deleteItem(i)">Xóa</div>
              </div>
            </div>
          </div>
          <div class="item__left">
            <div class="item-control">
              <div class="item-control__incrementer">
                <a (click)="removeItem(i)">
                  <img src="../../assets/images/remove_circle.png" width="34" height="34" alt="">
                </a>
                <p class="item-control__quantity">{{ item.quantity }}</p>
                <a (click)="addItem(i)">
                  <img src="../../assets/images/add_circle.png" width="34" height="34" alt="">
                </a>
              </div>
              <p class="item-control__price">{{ item.food.price * item.quantity|number }} &#8363;</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cart__payment">
        <div class="payment">
          <h4 class="payment__title">{{ cartItems.length }} Món</h4>
          <hr>
          <div class="payment__details">
            <div>Tổng đơn hàng</div>
            <div>{{ totalPrice|number}} &#8363;</div>
          </div>
          <div class="payment__details">
            <div>Phí giao hàng</div>
            <div>{{ deliverPrice |number}} &#8363;</div>
          </div>
          <div class="payment__details">
            <div>Tổng thanh toán</div>
            <div>{{ totalPrice + deliverPrice|number }} &#8363; </div>
          </div>
          <hr>
          <button class="payment__btn">
            <p>Thanh toán</p>
            <p>{{ totalPrice + deliverPrice|number }} &#8363;</p>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>