<div class="topnav">
  <div class="topnav-title">
    <label>フリーワード検索</label>
  </div>
  <div class="topnav-search">
    <input type="text" placeholder="コード、名称で検索" />
    <button class="btn submit" type="submit">新規</button>
    <button class="btn clear">クリア</button>
  </div>
</div>

<div class="data">
  <div class="data-title">
    <p>検索結果一覧</p>
    <button class="btn add">
      <div class="plus">+</div>
      <div>新規</div>
    </button>
    <p class="note">総計 15 / 15 件</p>
  </div>

  <div class="title">
    <div class="title-able">
      <div class="number">No.</div>
      <div class="code">商品分類コード</div>
      <div class="name">名称</div>
      <div class="functions">操作</div>
    </div>
  </div>

  <div class="input-add">
    <div class="input-add-note">-</div>
    <input class="input-add-code" />
    <input class="input-add-name" />
  </div>
  
  <div class="table">
    <div class="table-infor">
      <div class="table-infor-content">
        <div class="table-infor-content-number">
          <span>1</span>
        </div>
        <div class="table-infor-content-code">
          <span>001</span>
        </div>
        <div class="table-infor-content-name">
          <span>終了予定品</span>
        </div>
      </div>
      <div class="table-note">
        <div class="table-infor-content-edit">
          <span><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
        <div class="table-infor-content-delete">
          <span>
            <i class="fa-solid fa-trash"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="table-infor">
      <div class="table-infor-content">
        <div class="table-infor-content-number">
          <span>2</span>
        </div>
        <div class="table-infor-content-code">
          <span>002</span>
        </div>
        <div class="table-infor-content-name">
          <span>受注発注商品</span>
        </div>
      </div>
      <div class="table-note">
        <div class="table-infor-content-edit">
          <span><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
        <div class="table-infor-content-delete">
          <span>
            <i class="fa-solid fa-trash"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="table-infor">
      <div class="table-infor-content">
        <div class="table-infor-content-number">
          <span>3</span>
        </div>
        <div class="table-infor-content-code">
          <span>003</span>
        </div>
        <div class="table-infor-content-name">
          <span>MT在庫商品</span>
        </div>
      </div>
      <div class="table-note">
        <div class="table-infor-content-edit">
          <span><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
        <div class="table-infor-content-delete">
          <span>
            <i class="fa-solid fa-trash"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="table-infor">
      <div class="table-infor-content">
        <div class="table-infor-content-number">
          <span>4</span>
        </div>
        <div class="table-infor-content-code">
          <span>004</span>
        </div>
        <div class="table-infor-content-name">
          <span>メーカー預け在庫商品</span>
        </div>
      </div>
      <div class="table-note">
        <div class="table-infor-content-edit">
          <span><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
        <div class="table-infor-content-delete">
          <span>
            <i class="fa-solid fa-trash"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="table-infor">
      <div class="table-infor-content">
        <div class="table-infor-content-number">
          <span>5</span>
        </div>
        <div class="table-infor-content-code">
          <span>005</span>
        </div>
        <div class="table-infor-content-name">
          <span>メーカー在庫</span>
        </div>
      </div>
      <div class="table-note">
        <div class="table-infor-content-edit">
          <span><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
        <div class="table-infor-content-delete">
          <span>
            <i class="fa-solid fa-trash"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="table-infor">
      <div class="table-infor-content">
        <div class="table-infor-content-number">
          <span>6</span>
        </div>
        <div class="table-infor-content-code">
          <span>006</span>
        </div>
        <div class="table-infor-content-name">
          <span>保管料商品</span>
        </div>
      </div>
      <div class="table-note">
        <div class="table-infor-content-edit">
          <span><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
        <div class="table-infor-content-delete">
          <span>
            <i class="fa-solid fa-trash"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="table-infor">
      <div class="table-infor-content">
        <div class="table-infor-content-number">
          <span>7</span>
        </div>
        <div class="table-infor-content-code">
          <span>007</span>
        </div>
        <div class="table-infor-content-name">
          <span>滞留在庫</span>
        </div>
      </div>
      <div class="table-note">
        <div class="table-infor-content-edit">
          <span><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
        <div class="table-infor-content-delete">
          <span>
            <i class="fa-solid fa-trash"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="table-infor">
      <div class="table-infor-content">
        <div class="table-infor-content-number">
          <span>8</span>
        </div>
        <div class="table-infor-content-code">
          <span>008</span>
        </div>
        <div class="table-infor-content-name">
          <span>メーカー直送</span>
        </div>
      </div>
      <div class="table-note">
        <div class="table-infor-content-edit">
          <span><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
        <div class="table-infor-content-delete">
          <span>
            <i class="fa-solid fa-trash"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="table-infor">
      <div class="table-infor-content">
        <div class="table-infor-content-number">
          <span>9</span>
        </div>
        <div class="table-infor-content-code">
          <span>009</span>
        </div>
        <div class="table-infor-content-name">
          <span>諸掛品</span>
        </div>
      </div>
      <div class="table-note">
        <div class="table-infor-content-edit">
          <span><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
        <div class="table-infor-content-delete">
          <span>
            <i class="fa-solid fa-trash"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <button class="btn see">
    <div class="load">+</div>
    <div class="content">更に表示</div>
  </button>
</div>
